* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: #727272;
    box-sizing: border-box;
}

$nav-bar-height: 15vh;

// Her ligger bare bakgrunnsbildet.
body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2560' height='1440' preserveAspectRatio='none' viewBox='0 0 2560 1440'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1115%26quot%3b)' fill='none'%3e%3crect width='2560' height='1440' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M324.241%2c568.703C380.841%2c567.221%2c436.595%2c544.971%2c465.077%2c496.038C493.717%2c446.834%2c486.031%2c387.019%2c459.228%2c336.791C430.497%2c282.949%2c385.226%2c234.407%2c324.241%2c232.114C259.924%2c229.696%2c202.223%2c269.962%2c170.448%2c325.934C139.083%2c381.184%2c136.028%2c450.092%2c170.027%2c503.761C202.019%2c554.261%2c264.48%2c570.267%2c324.241%2c568.703' fill='rgba(187%2c 188%2c 188%2c 0.17)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M259.894%2c517.853C368.747%2c512.418%2c451.426%2c433.378%2c507.837%2c340.123C566.889%2c242.502%2c614.84%2c123.786%2c558.167%2c24.765C501.252%2c-74.68%2c374.386%2c-97.593%2c259.894%2c-93.096C154.424%2c-88.953%2c56.559%2c-42.172%2c-0.377%2c46.706C-62.505%2c143.689%2c-90.683%2c266.409%2c-34.99%2c367.225C22.214%2c470.776%2c141.74%2c523.752%2c259.894%2c517.853' fill='rgba(187%2c 188%2c 188%2c 0.17)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M502.655%2c559.49C634.438%2c568.056%2c757.568%2c492.278%2c825.13%2c378.808C894.311%2c262.619%2c909.833%2c113.422%2c835.517%2c0.449C766.57%2c-104.363%2c628.105%2c-110.227%2c502.655%2c-111.413C374.133%2c-112.629%2c222.217%2c-117.692%2c158.707%2c-5.952C95.55%2c105.167%2c179.022%2c231.929%2c245.445%2c341.127C308.089%2c444.113%2c382.367%2c551.671%2c502.655%2c559.49' fill='rgba(187%2c 188%2c 188%2c 0.17)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M578.111%2c786.499C715.631%2c789.029%2c802.919%2c656.119%2c870.954%2c536.581C937.982%2c418.811%2c1000.099%2c280.339%2c933.287%2c162.447C865.869%2c43.484%2c714.839%2c21.517%2c578.111%2c19.844C437.378%2c18.122%2c274.683%2c29.863%2c207.552%2c153.566C141.999%2c274.362%2c233.918%2c407.532%2c303.357%2c526.137C371.682%2c642.839%2c442.902%2c784.011%2c578.111%2c786.499' fill='rgba(187%2c 188%2c 188%2c 0.17)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M864.921%2c1675.279C988.087%2c1668.684%2c1081.155%2c1579.586%2c1145.805%2c1474.545C1214.735%2c1362.549%2c1277.135%2c1226.236%2c1211.393%2c1112.34C1145.644%2c998.432%2c996.305%2c981.902%2c864.921%2c987.922C746.018%2c993.37%2c634.332%2c1042%2c569.401%2c1141.758C497.596%2c1252.078%2c462.825%2c1392.556%2c526.605%2c1507.702C591.961%2c1625.694%2c730.231%2c1682.492%2c864.921%2c1675.279' fill='rgba(187%2c 188%2c 188%2c 0.17)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1104.786%2c457.813C1190.931%2c457.257%2c1284.1%2c434.017%2c1324.177%2c357.76C1362.496%2c284.849%2c1321.259%2c201.049%2c1275.841%2c132.335C1236.146%2c72.28%2c1176.762%2c27.146%2c1104.786%2c25.838C1030.54%2c24.489%2c963.953%2c64.229%2c922.614%2c125.917C875.187%2c196.69%2c839.445%2c285.937%2c880.438%2c360.621C922.468%2c437.195%2c1017.438%2c458.376%2c1104.786%2c457.813' fill='rgba(187%2c 188%2c 188%2c 0.17)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1402.247%2c698.254C1522.851%2c699.71%2c1637.42%2c635.55%2c1694.543%2c529.322C1749.044%2c427.97%2c1728.374%2c304.966%2c1665.598%2c208.519C1608.509%2c120.809%2c1506.8%2c84.832%2c1402.247%2c80.247C1286.758%2c75.183%2c1157.5%2c85.891%2c1095.602%2c183.523C1030.578%2c286.086%2c1059.769%2c418.083%2c1121.921%2c522.411C1182.428%2c623.978%2c1284.032%2c696.827%2c1402.247%2c698.254' fill='rgba(187%2c 188%2c 188%2c 0.17)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1880.033%2c492.426C1968.241%2c494.193%2c2059.176%2c465.217%2c2104.529%2c389.54C2150.971%2c312.046%2c2139.039%2c214.707%2c2093.088%2c136.92C2047.979%2c60.558%2c1968.661%2c12.814%2c1880.033%2c9.509C1784.911%2c5.962%2c1684.321%2c37.025%2c1637.559%2c119.935C1591.401%2c201.775%2c1619.338%2c302.1%2c1670.597%2c380.845C1716.849%2c451.898%2c1795.269%2c490.728%2c1880.033%2c492.426' fill='rgba(187%2c 188%2c 188%2c 0.17)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M471.313%2c953.653C513.305%2c953.831%2c554.211%2c934.641%2c574.889%2c898.093C595.289%2c862.037%2c588.901%2c818.24%2c568.247%2c782.329C547.526%2c746.301%2c512.805%2c715.593%2c471.313%2c718.005C432.516%2c720.26%2c411.344%2c758.798%2c392.112%2c792.567C373.172%2c825.824%2c352.358%2c862.877%2c369.244%2c897.222C387.629%2c934.615%2c429.645%2c953.477%2c471.313%2c953.653' fill='rgba(187%2c 188%2c 188%2c 0.17)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M2137.135%2c1196.005C2254.895%2c1201.221%2c2362.142%2c1122.828%2c2414.398%2c1017.169C2461.689%2c921.548%2c2427.252%2c812.736%2c2371.741%2c721.641C2319.003%2c635.098%2c2238.481%2c562.218%2c2137.135%2c562.175C2035.727%2c562.132%2c1951.061%2c632.59%2c1902.183%2c721.441C1855.184%2c806.875%2c1856.124%2c906.97%2c1899.387%2c994.355C1948.804%2c1094.169%2c2025.867%2c1191.076%2c2137.135%2c1196.005' fill='rgba(187%2c 188%2c 188%2c 0.17)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M2078.941%2c563.926C2198.201%2c561.387%2c2310.886%2c503.731%2c2369.835%2c400.028C2428.135%2c297.466%2c2419.502%2c171.678%2c2359.725%2c69.97C2300.78%2c-30.322%2c2195.265%2c-93.593%2c2078.941%2c-94.912C1960.259%2c-96.257%2c1849.214%2c-37.546%2c1786.911%2c63.477C1721.263%2c169.924%2c1702.738%2c304.874%2c1765.77%2c412.89C1828.376%2c520.177%2c1954.752%2c566.57%2c2078.941%2c563.926' fill='rgba(187%2c 188%2c 188%2c 0.17)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M480.188%2c1359.651C530.056%2c1360.591%2c575.864%2c1332.658%2c600.901%2c1289.52C626.039%2c1246.209%2c629.405%2c1191.429%2c602.243%2c1149.357C576.911%2c1110.12%2c526.859%2c1100.801%2c480.188%2c1102.543C437.102%2c1104.151%2c395.661%2c1121.262%2c372.958%2c1157.917C349.005%2c1196.59%2c345.759%2c1244.943%2c367.11%2c1285.111C389.82%2c1327.836%2c431.811%2c1358.739%2c480.188%2c1359.651' fill='rgba(187%2c 188%2c 188%2c 0.17)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M363.797%2c659.374C454.164%2c660.597%2c551.571%2c652.645%2c603.558%2c578.719C662.918%2c494.308%2c679.997%2c376.681%2c623.169%2c290.545C570.035%2c210.008%2c460.273%2c213.985%2c363.797%2c215.307C270.687%2c216.583%2c166.684%2c219.08%2c116.449%2c297.487C63.348%2c380.367%2c79.48%2c491.112%2c135.023%2c572.376C184.366%2c644.568%2c276.361%2c658.19%2c363.797%2c659.374' fill='rgba(187%2c 188%2c 188%2c 0.17)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M2085.086%2c926.349C2175.095%2c919.797%2c2252.129%2c865.071%2c2294.819%2c785.559C2335.177%2c710.39%2c2329.385%2c621.9%2c2288.851%2c546.826C2245.933%2c467.335%2c2175.369%2c400.234%2c2085.086%2c397.105C1989.982%2c393.809%2c1906.493%2c451.585%2c1855.294%2c531.799C1799.259%2c619.589%2c1762.426%2c730.498%2c1814.842%2c820.496C1867.028%2c910.098%2c1981.669%2c933.877%2c2085.086%2c926.349' fill='rgba(187%2c 188%2c 188%2c 0.17)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1586.275%2c1577.333C1693.629%2c1572.68%2c1777.084%2c1498.675%2c1834.929%2c1408.118C1899.029%2c1307.77%2c1954.341%2c1189.153%2c1902.805%2c1081.809C1845.592%2c962.64%2c1718.302%2c883.609%2c1586.275%2c890.196C1462.899%2c896.352%2c1378.29%2c1001.917%2c1320.102%2c1110.883C1266.022%2c1212.156%2c1240.359%2c1331.705%2c1297.26%2c1431.42C1354.587%2c1531.882%2c1470.715%2c1582.341%2c1586.275%2c1577.333' fill='rgba(187%2c 188%2c 188%2c 0.17)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M2017.12%2c327.459C2107.505%2c325.83%2c2170.817%2c247.331%2c2213.133%2c167.447C2252.242%2c93.617%2c2264.878%2c7.655%2c2225.585%2c-66.078C2183.92%2c-144.262%2c2105.71%2c-201.036%2c2017.12%2c-200.369C1929.519%2c-199.71%2c1856.603%2c-139.538%2c1814.02%2c-62.981C1772.725%2c11.26%2c1769.27%2c99.375%2c1808.474%2c174.741C1851.104%2c256.693%2c1924.758%2c329.124%2c2017.12%2c327.459' fill='rgba(187%2c 188%2c 188%2c 0.17)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1115'%3e%3crect width='2560' height='1440' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");

    overflow-y: auto;
    overflow-x: hidden;
}

main {
    padding-top: $nav-bar-height;
}

//NAV-BAR STYLING
@keyframes mymove {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.08;
    }
}

nav {
    display: flex;
    height: fit-content;
    width: 100vw;

    background-color: rgba(128, 128, 128, 0.114);

    .link {
        display: block;
        text-decoration: none;

        font-size: 2rem;
        margin: 15px auto;
        text-align: center;
    }

    .link:hover {
        animation: mymove 0.6s infinite alternate;
    }
}

//ABOUT ME STYLING
.info-box {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-rounder {
        position: relative;
        width: 450px;
        height: 450px;
        border-radius: 50%;
        overflow: hidden;
    }
    .info-img {
        position: absolute;
        top: 62%;
        left: 48%;
        transform: translate(-50%, -50%) rotate(10deg);
        width: 450px;
        height: auto;
        object-fit: cover;
    }

    .info-text {
        margin-top: 15px;
        font-size: 1.5rem;
        text-align: center;
        max-width: 40vw;
    }
}

//PROJECTS STYLING
.carousel {
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    width: 500px;

    .slider {
        width: 100%;
    }

    img {
        flex: 0 0 25%;
        width: 25%;
        aspect-ratio: 16 / 9;
        padding: 0.25rem;
    }
}

//RESPONSIVE STYLING
@media screen and (max-width: 1600px) {
    //ABOUT ME STYLING
    .info-box {
        .info-text {
            font-size: 1.25rem;
            max-width: 50vw;
        }
        .img-rounder {
            width: 350px;
            height: 350px;
        }
        .info-img {
            width: 350px;
        }
    }
}

//RESPONSIVE STYLING - WIDTH
@media screen and (max-width: 850px) {
    //ABOUT ME STYLING
    .info-box {
        .info-text {
            max-width: 70vw;
        }
        .img-rounder {
            width: 250px;
            height: 250px;
        }
        .info-img {
            width: 250px;
        }
    }
}

//Styling to allow horisontal screen
@media screen and (max-height: 500px) {
    .App {
        display: flex;
    }
    nav {
        position: fixed;
        flex-direction: column;
        width: 15vw;
        height: 100vh;

        .link {
            margin: auto 5px;
            font-size: 1.25rem;
            word-wrap: break-word;
        }
    }
    main {
        margin: 0 auto;
        padding-top: 12.5vh;
        padding-left: calc(15vw + 5px);
    }

    //ABOUT ME STYLING
    .info-box {
        .info-text {
            max-width: 70vw;
        }
        .img-rounder {
            width: 250px;
            height: 250px;
        }
        .info-img {
            width: 250px;
        }
    }
}

@media screen and (max-height: 650px) {
    .info-box {
        .img-rounder {
            width: 250px;
            height: 250px;
        }
        .info-img {
            width: 250px;
        }
    }
}
